:root {
     --glavna-bez: #e5e0d8;
      --tamna-pozadina: #1a1a1a;
      --zlatna-akcent: #c5a880;
      --tekst-bijela: #ffffff;
      --glavni-font: 'Arial', sans-serif;
      --brzina: 0.3s;
}
body {
     margin: 0;
     font-family: var(--glavni-font);
     background-color: var(--glavna-bez);
} 